.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 35px; 
}

/* only activate when screen size <=  750px */
@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

        .thumbnail {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }
        .thumbnail-row {
            margin-bottom: 9px;
            position: relative; 
        }
        .video-time {
            color: white; 
            background-color: black;
            z-index: 2;
            position: absolute;
            right: 5px;
            bottom: 10px;
            border-radius: 3px;
            font-family: Roboto, Arial; 
            font-size: 12px;
            font-weight: 500;
            padding: 4px 4px;
        }

    .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
    }
        .profile-pic{
            width: 40px; 
            height: 40px;
            object-fit: cover;
            border-radius: 20px;
        }
        .video-title{
            width: 100%; 
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 10px;
        }
        .video-author,
        .video-stats {
            color: rgb(96,96,96);
            font-size: 12px;
            margin-bottom: 4px;
        }

.channel-pic {
    position: relative;
    cursor: pointer;
}

.profile-tip {
    position: absolute;
    height: 65px;
    width: 180px;
    border: none;
    box-shadow: 0 0 4px gray;
    border-radius: 3px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s;
}
.channel-pic:hover .profile-tip {
    opacity: 1;
}

.profile-tip img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
    margin-right: 10px;
}

.profile-author {
    font-family: Roboto, Arial;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
}
.profile-subscriber-stat {
    font-family: Roboto, Arial;
    color: grey;
    font-size: 11px;
}
