.welcome-message {
    color: gray;
    text-align: center;
    margin-top: 50px;
}

.app-container {
    max-width: 600px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
